@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.dancing-font {
  font-family: "Dancing Script", cursive;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
